.water-sports-gear-updated.notice.notice-success.is-dismissible {
    display: flex !important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.water-sports-gear-admin-content {
    flex: 1;
    padding-right: 30px;
    text-align: center;
}

.button-primary {
    background: #2271b1;
    border-color: #2271b1;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}

.water-sports-gear-admin-content h2 {
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    font-size: 35px;
    color: #000;
}

.water-sports-gear-admin-content p {
    color: #000;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 18px;
}

.water-sports-gear-admin-content > div {
    display: flex;
    justify-content: center;
}

.button-group.button-hero .button, 
.wp-core-ui .button.button-hero {
    font-size: 14px;
    min-height: 46px;
    line-height: 3.14; /* Consistent with line-height */
    padding: 4px 38px;
    margin-right: 4px;
}

.notice-dismiss {
    position: absolute;
    top: 0;
    right: 1px;
    border: none;
    margin: 0;
    padding: 9px;
    background: transparent; /* Use 'transparent' for clarity */
    color: #787c82;
    cursor: pointer;
}